{% extends "musicApp/base.html" %}
{% block content %}
    <!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
    <div class="main-container" id="appRoute">
        <div class="row section text-center text-md-left">
            <div class="col-xl-3 col-lg-4 col-sm-5">
                <img src="{{ album.cover.url }}" alt="" class="card-img--radius-lg">
            </div>
            <div class="col-xl-9 col-lg-8 col-sm-7">
                <div class="row pt-4">
                    <div class="col-xl-8 col-lg-6">
                        <h5 class="album-name">{{ album.name }}</h5>
                        <p>{{ album.singer.name }}</p>
                        <div class="text-warning stars">
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star-half-empty"></i>
                        </div>
                        <div class="mt-4">
                            <a href="javascript:void(0);" class="btn btn-pill btn-air btn-bold btn-danger play-all">Play
                                All</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="pt-3 pt-lg-0 text-lg-right">
                            <button class="btn btn-pill btn-air btn-danger btn-icon-only"><i class="la la-heart-o"></i>
                            </button>
                            <button class="btn btn-pill btn-air btn-brand btn-icon-only"><i class="la la-share-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
        <div class="section">
            <!-- Begin | Line Tabs [[ Find at scss/framework/components/line-tabs.scss ]] -->
            <ul class="nav nav-tabs line-tabs line-tabs-primary text-uppercase mb-4" id="artistDetails" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="song-tab" data-toggle="tab" href="#song" role="tab"
                       aria-controls="song"
                       aria-selected="true">Top Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="bio-tab" data-toggle="tab" href="#bio" role="tab" aria-controls="bio"
                       aria-selected="false">Info</a>
                </li>
            </ul>
            <!-- End | Line Tabs -->

            <!-- Begin | Tab Content -->
            <div class="tab-content" id="artistDetailsContent">
                <div class="tab-pane fade show active" id="song" role="tabpanel" aria-labelledby="song-tab">
                    <div class="row align-items-end">
                        <span class="col-6 font-weight-bold">{{ tracks.count }} Track</span>
                        <div class="col-6 ml-auto">
                            <form action="#" class="form-inline justify-content-end">
                                <label class="mr-2" for="filter1">Sorted By:</label>
                                <select class="custom-select mr-sm-2" id="filter1">
                                    <option selected>Popular</option>
                                    <option value="1">A-Z</option>
                                    <option value="2">Z-A</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                    <!-- Begin | Custom List [[ Find at scss/framework/components/custom-list.scss ]] -->
                    <div class="custom-list">
                        {% for track in album.music_set.all %}
                            <!-- Begin | Custom List Item -->
                            <div class="custom-list--item">
                                <div class="text-dark custom-card--inline data-audio"
                                     data-audio='{"name": "{{ track.name }}", "artist": "{{ track.singer.name }}", "album": "{{ track.album }}", "url": "{{ track.song.url }}", "cover_art_url": "{{ track.cover.url }}"}'>
                                    <div class="custom-card--inline-img">
                                        <img src="{{ track.cover.url }}" alt="" class="card-img--radius-sm">
                                    </div>

                                    <div class="custom-card--inline-desc">
                                        <p class="text-truncate mb-0">{{ track.name }}</p>
                                        <p class="text-truncate text-muted font-sm">{{ track.album.name }}</p>
                                    </div>
                                </div>
                                <ul class="custom-card--labels d-flex ml-auto">
                                    <li class="dropleft">
                                        <a href="javascript:void(0);" class="btn btn-icon-only p-0 w-auto h-auto"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="la la-ellipsis-h"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link favorite">
                                                    <i class="la la-heart-o"></i>
                                                    <span>Favorite</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link">
                                                    <i class="la la-plus"></i>
                                                    <span>Add to Playlist</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link">
                                                    <i class="la la-download"></i>
                                                    <span>Download</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link">
                                                    <i class="la la-share-alt"></i>
                                                    <span>Share</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="song-details.html" class="dropdown-link">
                                                    <i class="la la-info-circle"></i>
                                                    <span>Song Info</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- End | Custom List Item -->
                        {% endfor %}
                    </div>
                    <!-- End | Custom List -->
                </div>
                <div class="tab-pane fade show" id="album" role="tabpanel" aria-labelledby="album-tab">
                    <div class="row align-items-end">
                        <span class="col-6 font-weight-bold">{{ albums.count }} Album</span>
                        <div class="col-6 ml-auto">
                            <form action="#" class="form-inline justify-content-end">
                                <label class="mr-2" for="filter2">Sorted By:</label>
                                <select class="custom-select mr-sm-2" id="filter2">
                                    <option selected>Popular</option>
                                    <option value="1">A-Z</option>
                                    <option value="2">Z-A</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                    <!-- Begin | Custom List [[ Find at scss/framework/components/custom-list.scss ]] -->
                    <div class="custom-list">
                        {% for album in albums %}
                            <!-- Begin | Custom List Item -->
                            <div class="custom-list--item">
                                <div class="text-dark custom-card--inline">
                                    <div class="custom-card--inline-img">
                                        <img src="{{ album.cover.url }}" alt="" class="card-img--radius-sm">
                                    </div>

                                    <div class="custom-card--inline-desc">
                                        <p class="text-truncate mb-0">{{ album.name }}</p>
                                        <p class="text-truncate text-muted font-sm">{{ album.singer.name }}</p>
                                    </div>
                                </div>
                                <ul class="custom-card--labels d-flex ml-auto">
                                    <li><span class="badge badge-pill badge-danger"><i class="la la-heart"></i></span>
                                    </li>
                                    <li class="dropleft">
                                        <a href="javascript:void(0);" class="btn btn-icon-only p-0 w-auto h-auto"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="la la-ellipsis-h"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link favorite">
                                                    <i class="la la-heart-o"></i>
                                                    <span>Favorite</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link">
                                                    <i class="la la-plus"></i>
                                                    <span>Add to Playlist</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link">
                                                    <i class="la la-download"></i>
                                                    <span>Download</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link">
                                                    <i class="la la-share-alt"></i>
                                                    <span>Share</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="song-details.html" class="dropdown-link">
                                                    <i class="la la-info-circle"></i>
                                                    <span>Song Info</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- End | Custom List Item -->
                        {% endfor %}
                    </div>
                    <!-- End | Custom List -->
                </div>
                <div class="tab-pane fade show" id="bio" role="tabpanel" aria-labelledby="bio-tab">
                    <p>{{ album.pub_date }}</p>
                </div>
            </div>
            <!-- End | Tab Content -->
        </div>
        <!-- End | Section -->

    </div>
    <!-- End | Main Container -->
{% endblock content %}
