{% extends "musicApp/base.html" %}
{% block content %}
    <!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
    <div class="main-container" id="appRoute">

        <div class="row align-items-end">
            <span class="col-6 font-weight-bold">{{ album_list.count }} Results</span>
            <div class="col-6 ml-auto">
                <form action="#" class="form-inline justify-content-end">
                    <label class="mr-2" for="filter2">Sorted By:</label>
                    <select class="custom-select mr-sm-2" id="filter2">
                        <option selected>Popular</option>
                        <option value="1">A-Z</option>
                        <option value="2">Z-A</option>
                    </select>
                </form>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>

        <div class="row section">
            {% for album in album_list %}
                <div class="col-xl-3 col-lg-4 col-sm-6 pb-4">
                    <div class="custom-card">
                        <div class="custom-card--img">
                            <div class="custom-card--info">
                                <ul class="custom-card--labels d-flex">
                                    <li><span class="badge badge-pill badge-warning"><i class="la la-star"></i></span>
                                    </li>
                                </ul>
                                <div class="dropdown dropdown-icon">
                                    <a href="javascript:void(0);" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="ion-md-more"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item">
                                            <a href="javascript:void(0);" class="dropdown-link favorite">
                                                <i class="la la-heart-o"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="javascript:void(0);" class="dropdown-link">
                                                <i class="la la-plus"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="javascript:void(0);" class="dropdown-link">
                                                <i class="la la-download"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="javascript:void(0);" class="dropdown-link">
                                                <i class="la la-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="{% url 'musicApp:album_detail' pk=album.pk %}">
                                <img src="{{ album.cover.url }}" alt="{{ album.name }}" class="card-img--radius-lg">
                            </a>
                        </div>

                        <a href="{% url 'musicApp:album_detail' pk=album.pk %}" class="custom-card--link mt-2">
                            <h6>{{ album.name }}</h6>
                            <p>{{ album.singer.name }}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- End | Main Container -->
{% endblock content %}
