{% extends "musicApp/base.html" %}
{% block content %}
    <!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
    <div class="main-container" id="appRoute">

        <div class="section">
            <div class="heading">
                <div class="d-flex flex-wrap align-items-end">
                    <div class="flex-grow-1">
                        <h4>{{ event.name }}</h4>
                        <p>Public Event</p>
                    </div>
                    <a href="songs.html" class="btn btn-bold btn-pill btn-air btn-warning">Buy now</a>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="event event-h bg-img bg-img-radius-lg mb-4"
                         style="background-image: url('{{ event.background_image.url }}')"></div>
                    <div class="mb-3">
                        <b>Venue At</b>
                        <p>{{ event.address }}</p>
                    </div>
                    <div class="mb-3">
                        <b>Phone Number</b>
                        <p>{{ event.phone }}</p>
                    </div>
                    <div class="mb-3">
                        <b>Email ID</b>
                        <p>{{ event.email }}</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <p>{{ event.info }}</p>
                </div>
            </div>
        </div>

    </div>
    <!-- End | Main Container -->
{% endblock content %}
