{% extends "musicApp/base.html" %}
{% block content %}

    <!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
    <div class="main-container" id="appRoute">

        <div class="section row" id="genre-item">
            {% for genre in genre_list %}
                <div class="col-xl-3 col-lg-4 col-sm-6 pb-4">
                    <div class="custom-card">
                        <div class="custom-card--img">
                            <a href="javascript:void(0);">
                                <img src="{{ genre.cover.url }}" alt="{{ genre.name }}" class="card-img--radius-md">
                                <span class="bg-blur">{{ genre.name }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
    <!-- End | Main Container -->

{% endblock content %}
