{% extends "musicApp/base.html" %}
{% block content %}
    <!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
    <div class="main-container" id="appRoute">
        <div class="row section text-center text-md-left">
            <div class="col-xl-3 col-lg-4 col-sm-5">
                <img src="{{ music.cover.url }}" alt="" class="card-img--radius-lg">
            </div>
            <div class="col-xl-9 col-lg-8 col-sm-7">
                <div class="row pt-4">
                    <div class="col-xl-8 col-lg-6">
                        <h5>{{ music.name }}</h5>
                        <p>{{ music.singer.name }}</p>
                        <div class="text-warning stars">
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star-half-empty"></i>
                        </div>
                        {% if music.premium %}
                            <span class="badge badge-pill badge-warning mt-3">Premium</span>
                        {% endif %}
                        <div class="mt-4">
                            <a href="javascript:void(0);"
                               class="external btn btn-pill btn-air btn-bold btn-danger data-audio"
                               data-audio='{"name": "{{ music.name }}", "artist": "{{ music.singer }}", "album": "{{ music.album }}", "url": "{{ music.song.url }}", "cover_art_url": "{{ music.cover.url }}"}'>Play</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="pt-3 pt-lg-0 text-lg-right">
                            <button class="btn btn-pill btn-air btn-danger btn-icon-only"><i class="la la-heart-o"></i>
                            </button>
                            <button class="btn btn-pill btn-air btn-warning btn-icon-only"><i class="la la-plus"></i>
                            </button>
                            <button class="btn btn-pill btn-air btn-success btn-icon-only"><i
                                    class="la la-download"></i></button>
                            <button class="btn btn-pill btn-air btn-brand btn-icon-only"><i class="la la-share-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
        <div class="section">
            <!-- Begin | Line Tabs [[ Find at scss/framework/components/line-tabs.scss ]] -->
            <ul class="nav nav-tabs line-tabs line-tabs-primary text-uppercase mb-4" id="songDetails" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                       aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lyrics-tab" data-toggle="tab" href="#lyrics" role="tab"
                       aria-controls="lyrics" aria-selected="false">Lyrics</a>
                </li>
            </ul>
            <!-- End | Line Tabs -->

            <!-- Begin | Tab Content -->
            <div class="tab-content" id="songDetailsContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pl-0 border-0">Arrangement by: <span
                                class="font-weight-bold">{{ music.arrangement }}</span></li>
                        <li class="list-group-item pl-0 border-0">Lyrics by: <span
                                class="font-weight-bold">{{ music.song_writer }}</span></li>
                        <li class="list-group-item pl-0 border-0">Mix and Mastering: <span
                                class="font-weight-bold">{{ music.mix_mastering }}</span></li>
                        <li class="list-group-item pl-0 border-0">Plays: <span
                                class="font-weight-bold">{{ music.plays }}</span></li>
                    </ul>
                </div>
                <div class="tab-pane fade show" id="lyrics" role="tabpanel" aria-labelledby="lyrics-tab">
                    <pre>{{ music.lyrics }}</pre>
                </div>
            </div>
            <!-- End | Tab Content -->
        </div>
        <!-- End | Section -->

        <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
        <div class="section">

            <div class="heading">
                <div class="d-flex flex-wrap align-items-end">
                    <div class="flex-grow-1">
                        <h4>Album Songs</h4>
                    </div>
                    <a href="songs.html" class="btn btn-sm btn-pill btn-air btn-primary">View Album</a>
                </div>
                <hr>
            </div>

            <div class="carousel-item-5 arrow-pos-3">
                {% for music in album_songs %}
                    <div class="custom-card">
                        <div class="custom-card--img">
                            <div class="custom-card--info">
                                <div class="dropdown dropdown-icon">
                                    <a href="javascript:void(0);" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="ion-md-more"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item">
                                            <a href="javascript:void(0);" class="dropdown-link favorite">
                                                <i class="la la-heart-o"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="javascript:void(0);" class="dropdown-link">
                                                <i class="la la-plus"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="javascript:void(0);" class="dropdown-link">
                                                <i class="la la-download"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="javascript:void(0);" class="dropdown-link">
                                                <i class="la la-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="external data-audio"
                               data-audio='{"name": "{{ music.name }}", "artist": "{{ music.singer.name }}", "album": "{{ music.album }}", "url": "{{ music.song.url }}", "cover_art_url": "{{ music.cover.url }}"}'>
                                <img src="{{ music.cover.url }}" alt="{{ music.name }}" class="card-img--radius-lg">
                            </a>
                        </div>

                        <a href="song-details.html" class="custom-card--link mt-2">
                            <h6>{{ music.name }}</h6>
                            <p>{{ music.singer.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
        <!-- End | Section -->

    </div>
    <!-- End | Main Container -->
{% endblock content %}
