{% extends "musicApp/base.html" %}
{% load static %}
{% block content %}
    <!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
    <div class="main-container under-banner-content" id="appRoute">
        <div class="row section">
            <div class="col-xl-10 mx-auto">
                <div class="row">
                    <form action="{% url 'account:change_profile' %}" method="post" enctype="multipart/form-data"
                          class="row">
                        {% csrf_token %}
                        <div class="col-xl-4 col-md-5">
                            <div class="card h-auto">
                                <div class="card-body text-center">
                                    <div class="avatar avatar-xl avatar-circle mx-auto mb-4">
                                        <img src="
                                                {% if music_app_user.avatar %}{{ music_app_user.avatar.url }}{% else %}{% static "musicApp/images/users/thumb.jpg" %}{% endif %}"
                                             alt="user">
                                    </div>
                                    <h6 class="mb-3">{{ music_app_user.display_name }}</h6>
                                    <p class="mb-1">Preferred by: 420x420(px)</p>
                                    <p>Minimum: 128x128(px)</p>
                                    <label for="avatar_file">
                                        <input type="file" name="avatar_file" id="avatar_file"
                                               style="display: none">
                                        <span class="btn btn-danger btn-air">Change Image</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-7 ">
                            <div class="card h-auto ">
                                <div class="card-body row">
                                    <div class="col-xl-6 form-group">
                                        <label for="firstName" class="form-label">First Name</label>
                                        <input type="text" name="firstName" id="firstName" class="form-control"
                                               value="{{ music_app_user.user.first_name }}">
                                    </div>
                                    <div class="col-xl-6 form-group">
                                        <label for="lastName" class="form-label">Last Name</label>
                                        <input type="text" name="lastName" id="lastName" class="form-control"
                                               value="{{ music_app_user.user.last_name }}">
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="displayName" class="form-label">Display Name</label>
                                        <input type="text" name="displayName" id="displayName" class="form-control"
                                               value="{{ music_app_user.display_name }}">
                                    </div>
                                    <div class="col-xl-6 form-group">
                                        <label for="userType" class="form-label">User Type</label>
                                        <select name="userType" id="userType" class="form-control">
                                            <option value="0">Admin</option>
                                            <option value="1">Artist</option>
                                            <option value="2">Producer</option>
                                            <option value="3">User</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 form-group">
                                        <label for="loc" class="form-label">Location</label>
                                        <input type="text" name="location" id="loc" class="form-control"
                                               value="{{ music_app_user.location }}">
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="about" class="form-label">About</label>
                                        <textarea name="about" id="about" cols="30" rows="5"
                                                  class="form-control">{{ music_app_user.about }}</textarea>
                                    </div>
                                    <div class="col-12">
                                        <label for="submit">
                                            <input type="submit" name="submit" id="submit"
                                                   style="display: none">
                                            <span class="btn btn-primary btn-air">Save Changes</span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="plan-info-card text-center px-sm-5 py-sm-4 p-3">
                                <h6>No plan selected yet</h6>
                                <p>Your 30 days free subscription is going to expired within 2 days please select
                                    you plan.</p>
                                <a href="plan.html" class="btn btn-pill btn-air btn-success">Select Plan</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End | Main Container -->
{% endblock content %}
