{% extends "musicApp/base.html" %}
{% block content %}
    <!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
    <div class="main-container" id="appRoute">

        <div class="row align-items-end">
            <span class="col-6 font-weight-bold">{{ singer_list.count }} Results</span>
            <div class="col-6 ml-auto">
                <form action="#" class="form-inline justify-content-end">
                    <label class="mr-2" for="filter2">Sorted By:</label>
                    <select class="custom-select mr-sm-2" id="filter2">
                        <option selected>Popular</option>
                        <option value="1">A-Z</option>
                        <option value="2">Z-A</option>
                    </select>
                </form>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>

        <div class="row section">
            {% for artist in singer_list %}
                <div class="col-xl-3 col-lg-4 col-sm-6 pb-4">
                    <div class="custom-card">
                        <div class="custom-card--img">
                            <a href="{% url 'musicApp:artist_detail' pk=artist.pk %}">
                                <img src="{{ artist.cover.url }}" alt="{{ artist.name }}" class="card-img--radius-lg">
                            </a>
                        </div>

                        <a href="{% url 'musicApp:artist_detail' pk=artist.pk %}" class="custom-card--link mt-2">
                            <h6 class="mb-0">{{ artist.name }}</h6>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <!-- End | Main Container -->
{% endblock content %}
